.rechercher {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;

    input {
      padding: 0.5rem;
      border: 1px #3f68a2 solid;
      border-radius: 0.3rem;
      outline: none;
    }

    #btnRech {
      background-color: #3f68a2;
      padding: 0.5rem;
      border-radius: 0.3rem;
      color: #fff;
    }

    a {
      background-color: #d2d1d1;
      color: #3f68a2;
      text-align: center;
      padding: 0.5rem;
      border-radius: 0.3rem;
    }
  }
}

@media (max-width: 678px) {
  .rechercher form {
    width: 100%;
    padding: 1rem;
  }
}
