@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-poppins: Poppins
}

body {
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeModalIn {
  0% {
    transform: translateY(-200%);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: auto
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}